USE [master]
GO
/****** Object:  Database [Furokawa]    Script Date: 08/12/2015 19:09:09 ******/
CREATE DATABASE [Furokawa] ON  PRIMARY 
( NAME = N'Furokawa', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Furokawa.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Furokawa_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Furokawa_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Furokawa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Furokawa]
GO
/****** Object:  Table [dbo].[VisitaSITE]    Script Date: 08/12/2015 19:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitaSITE](
	[fecha] [datetime] NOT NULL,
	[numEmpleado] [int] NOT NULL,
	[nomEmpleado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VisitaSITE] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[videoSITE]    Script Date: 08/12/2015 19:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[videoSITE](
	[fechaVideo] [datetime] NOT NULL,
	[idVideo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalidaSITE]    Script Date: 08/12/2015 19:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SalidaSITE](
	[fecha] [datetime] NOT NULL,
	[numEmpleado] [int] NOT NULL,
	[nomEmpleado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SalidaSITE] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntradaSITE]    Script Date: 08/12/2015 19:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EntradaSITE](
	[fecha] [datetime] NOT NULL,
	[numEmpleado] [int] NOT NULL,
	[nomEmpleado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EntradaSITE] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
